[submodule "evm-testvectors/tests"]
	update = none
	path = testool/tests
	url = https://github.com/ethereum/tests

[submodule "integration-tests/contracts/vendor/openzeppelin-contracts"]
	update = none
	path = integration-tests/contracts/vendor/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "light-client-poc/go-ethereum"]
	path = light-client-poc/go-ethereum
	url = https://github.com/adria0/go-ethereum
[submodule "light-client-poc/bin/test_local/go-ethereum"]
	path = light-client-poc/bin/test_local/go-ethereum
	url = https://github.com/adria0/go-ethereum
