[package]
name = "bus-mapping"
version = "0.1.0"
edition = "2021"
authors = ["CPerezz <c.perezbaro@gmail.com>"]
license = "MIT OR Apache-2.0"

[dependencies]
eth-types = { path = "../eth-types" }
gadgets = { path = "../gadgets" }
keccak256 = { path = "../keccak256" }
mock = { path = "../mock", optional = true }

ethers-core = "0.17.0"
ethers-signers = "0.17.0"
ethers-providers = "0.17.0"
halo2_proofs = { git = "https://github.com/privacy-scaling-explorations/halo2.git", tag = "v2023_02_02" }
poseidon-circuit = { git = "https://github.com/scroll-tech/poseidon-circuit.git", branch = "scroll-dev-0408", features=["short"]}
itertools = "0.10"
lazy_static = "1.4"
log = "0.4.14"
rand = { version = "0.8", optional = true }
serde = {version = "1.0.130", features = ["derive"] }
serde_json = "1.0.66"
strum = "0.24"
hex = "0.4.3"
strum_macros = "0.24"

# precompile related crates
revm-precompile = "2.0.2"
once_cell = "1.17.0"

[dev-dependencies]
hex = "0.4.3"
pretty_assertions = "1.0.0"
tokio = { version = "1.13", features = ["macros"] }
url = "2.2.2"
ctor = "0.1.22"
env_logger = "0.9.0"
mock = { path = "../mock" }
rand = "0.8"

[features]
default = ["test"]
test = ["mock", "rand"]
scroll = ["eth-types/scroll"]
